@import "../../styles/mixins"

.root
  min-height: 705px
  display: flex
  justify-content: center
  align-items: center
  background: #E5E1EC

.content
  display: flex
  flex-direction: column
  align-items: center
  @include media-sm
    padding-right: 0
    padding-left: 0

.title
  @include title
  color: #1C1B20

.postBox
  background: url(../../assets/images/post-bg.png) no-repeat center
  background-size: cover
  width: 1000px
  border-radius: 30px
  overflow: hidden
  align-items: center
  justify-content: center
  flex-direction: column
  display: flex
  padding: 50px
  @include media-xl
    width: 100%
  @include media-sm
    padding: 0
    border-radius: 0

.postContent
  display: flex
  flex-direction: column
  gap: 30px
  border-radius: 30px
  padding: 30px
  background: #FFFFFF
  @include media-sm
    border-radius: 0
    width: 100%

.post
  width: 500px
  height: 100%
  @include media-sm
    width: 100%

.comments
  height: 300px
  width: 500px
  @include media-sm
    width: 100%