@import "../../styles/mixins"

.title
  @include title
  color: #1C1B20
  margin-bottom: 40px
  text-align: center

.content
  display: flex
  gap: 30px
  flex-direction: column

.aboutBox
  display: flex
  gap: 30px

.description
  @include text-xl
  width: 50%


.creatorAvatar
  width: 500px
  height: 591px
